#blue {
  background: url("./assets/snowflakes-background.png");
  background-repeat: no-repeat;
  opacity: 1;
  top: 0;
  height: 1050px;
  width: auto;
  background-size: cover;
}

.Site {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}
#icecreamrolls, #poke_bowl {
  background-color: #E3F2FD;
}
#header {
  left: 0;
  right: 0;
  top: 0;
  transition: background .2s linear;
  z-index: 9999;
}
#header {
  position: fixed;
}
.intro {
  background: url("./assets/varieties.jpg");
  background-repeat: no-repeat;
  opacity: 1;
  top: 0;
  height: 1050px;
  width: auto;
  background-size: cover;
}
/* BOOTSRAP */
.container {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-link {
  color: #2853f6;
  font-family: 'Helvetica Neue';
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: .5px;
  padding-top: 3rem;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.col-12 {
  padding: 0;
}
.col-6 {
  padding-bottom: .25rem;
}
.card  {
  padding: 0rem;
  margin: 0;
  border-radius: 0rem;
  border: none;
  background-color: #e3f2fd;
}
.card-body {
  padding-bottom: .2rem;
  padding-top: .2rem;
  
}
/* COMPONENTS */
.category {
  background-color: #2853F6;
  color: #fff; 
  padding: 1rem;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 800;
  text-align: center;

}
.price {
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-align: center;
}
.step {
  font-size: 1.35rem;
  letter-spacing: 1px;
  font-weight: 900;
  color: #673ab7;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.25rem;

}
.menu-title {
  font-size: 1.35rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1;
  padding-top: .35rem;
  padding-bottom: .25rem;
}
.menu-subtitle {
  font-size: .8rem;
  letter-spacing: 1px;
  font-weight: 800;
  color: #c3596d;
}
.menu-instructions {
  font-size: 1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;  
  font-weight: 700;
  text-align: center;
}

.menu-description {
  font-size: 1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;  
  text-align: center;
}
.notations {
  color: #C3596D;
  font-size: .5rem;
  letter-spacing: .5px;
  font-weight: 800;
  text-align: center;
  padding: .5rem;
}
.poke_price {
  font-size: 2.2rem;
  padding-top: 0;
  letter-spacing: 1px;
}

/* COMMON CSS */
  /* FONT FAMILY*/
.pacifico {
  font-family: "Pacifico";
}
.bitter {
  font-family: 'Bitter', serif;
}
.Lobster {
  font-family: 'Lobster', cursive;
}
.quicksand {
  font-family: "Quicksand";
}
.montserrat {
  font-family: "Montserrat";
}
.satisfy {
  font-family: 'Satisfy', cursive;
}
.helvetica {
  font-family: 'Helvetica Neue';
}
  /* ALIGN */
.center {
  margin-right: auto;
  margin-left: auto;
}
  /* COLOR */
.purple {
  color: #404393;
}
.choc {
  color: #A88134;
}
.pink {
  color: #C3596D;
}
.red {
  color: red;
}
.silver {
  color: #9e9e9e;
}
  /* SHADOW */
hr {
  border:none;
  height: 20px;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px double #fff;
  box-shadow: 0 20px 20px -20px #eeaba1;
  margin: -50px auto 5px; 
  padding: .5rem;
}
  /* OVERLAY */
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(227, 242, 253, 0.7);
}


@media (max-width: 576px) {
  .Site {
  }
    /* COMPONENTS */
      /* HEADER */
  .navigation-container {
    padding: .5rem;
  }
  .intro {
    height: 300px;
    width: 100%;
  }
  #header {
  }
  #header.fixed-position {
  }
  
  .navbar {
    padding-bottom: 0;
  }
  
  .logo {
    width: 14rem;
    height: 4rem;
  }
  .section {
    padding-right: 0;
    padding-left: 0;
  }
  .category {
    background-color: #2853F6;
    color: #fff; 
  }
  .title {
    font-size: 1.25rem;
    font-weight: 900;
    padding-bottom: 0;
    font-family: 'Lobster';
    /* color: #673ab7; */
    /* opacity: .8; */
  }
  .price {
    font-size: 1.25rem;
    font-weight: 800;
    padding-top: .25rem;
    /* color: #673ab7; */
  }
  .poke_price {
    font-size: .8rem;
    padding-top: 0;
    letter-spacing: 1px;
    text-align: center;
  }  
  
  .menu-title {
    font-size: .61rem;
    font-weight: 500;
    padding-bottom: .25rem;
    color: #2196f3;
    font-family: 'Lobster';
    letter-spacing: 0;
  }
  .menu-instructions {
    font-size: .6rem;
    padding-bottom: 0.1rem;
    padding-top: 0rem;  
    text-align: center;    
    letter-spacing: 0.3px;
  }  
  .menu-description {
    font-size: .65rem;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Bitter', serif; */
  }
  .menu-item {
    font-size: .65rem;
    padding-top: 0;
  }

  /* COMMON */
  

  /* BOOTSTRAP */
  .nav-link {
    font-size: .65rem;
    padding-right: .6rem;
    padding-left: .6rem;
    font-weight: 800;
    padding-top: 0.5rem;
  }
  .col-6 {
    padding-bottom: .25rem;
  }  
}

