.App {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}
.navigation-container {
  background-color: rgb(159, 198, 243);
  padding: .75rem;
}
.nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: "Raleway";

}

@media (max-width: 576px) {
  /* NAVIGATION */
  .navigation-container {
    padding: .5rem;
  }
  .navbar {
    padding-bottom: 0;
  }
  
  .logo {
    width: 14rem;
    height: 4rem;
  }
  .nav-link {
    font-size: .75rem;
    padding-right: .6rem;
    padding-left: .6rem;
    font-weight: 800;
  }
}

